* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* font-family: "Cabin Condensed", sans-serif; */
  /* font-family: "Syne", sans-serif; */
  /* font-family: "Slabo 27px", serif; */
  /* font-family: "Asap Condensed", sans-serif; */
  /* font-weight: normal; */
  font-family: "Ubuntu", sans-serif;
  scroll-behavior: smooth;
}

:root {
  --clr-white-default: #f2f2f2;
  --clr-white-secondary: #f1f1f1;
  --clr-dark-blue: #46c1ba;
  --clr-hospital: #0bb0b2;
  --clr-hospital-deep: #043637;
  --clr-white-main: #fff;
  --clr-darkGray: rgba(230, 217, 217, 0.2);
  --clr-dark-main: #000;
  --clr-semi-dark: rgba(0, 0, 0, 0.8);
  --clr-gray-origin: rgb(224, 218, 218);
  --error-message: rgb(126, 23, 23);
}
::-webkit-scrollbar{
  width: 10px;
}
::-webkit-scrollbar-track{
  background: var(--clr-white-default);
}
::-webkit-scrollbar-thumb {
  background: var(--clr-hospital);
  border-radius: 50px;
}
::-webkit-scrollbar-thumb:hover{
    background: var(--clr-dark-blue);
    transition: .4s;
}
/* Change the text selection background color */
::selection {
  background: var(--clr-hospital); /* Custom background color */
  color: var(--clr-white-main); /* Custom text color */
}

/* For Firefox */
::-moz-selection {
  background: var(--clr-hospital); /* Custom background color */
  color: var(--clr-white-main); /* Custom text color */
}

.error{
  border: 2px solid red;
}
a {
  color: var(--clr-dark-main);
  text-decoration: none;
}

/* Style for main container */
/* .main{
  display: none;
} */

.socialIconsHeader {
  display: flex;
  justify-content: space-between;
  padding: 20px 25px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
  background: var(--clr-white-default);
  transition: box-shadow 0.3s ease-in-out; /* Smooth transition for box-shadow */
}

.socialIconsHeader.scroll {
  box-shadow: 0 0 15px var(--clr-dark-main);
}

.icons-social i {
  font-size: 20px;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    /* border: 1px solid var(--clr-gray-origin); */
    /* padding: 8px 10px; */
    margin: 0 5px;
     transition: transform 0.9s ease, background-color 0.9s ease;
     cursor: pointer;
}
.icons-social i:hover {
    transform: translateY(-10px);
    transition: .7s;
}
.contacts-header span {
  margin: 0 15px;
}

.appointment-Header button {
  padding: 15px 20px;
  background: var(--clr-hospital);
  border: none;
  color: var(--clr-white-main);
  border-radius: 4px;
  cursor: pointer;
  /* font-weight: bold */
}
.appointment-Header button:hover {
  background: var(--clr-dark-blue);
  transition: 0.4s;
}
/* Appointment button Mobile */
.apt_mobile{
  display: flex;
  justify-content: flex-end;
  position: fixed;
  right: 15px;
  bottom: 40px;
  transition: all 0.4s;
  display: none;
   z-index: 100;
}
#apt_button_Mobile{
  font-size: 25px;
  color: var(--clr-white-main);
  background: var(--clr-hospital-deep);
  padding: 10px 13px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  box-shadow: 0 0 7px var(--clr-dark-main);
}
#apt_button_Mobile:hover{
  box-shadow: 0 0 7px var(--clr-dark-main);
}
.main_nav {
  position: relative;
  top: 80px;
}
/* Header */
#headre-background {
  width: 100%;
  height: 70px;
  /* box-shadow: 0 0 3px var(--clr-dark-main); */
}

/* Navs */

.navs {
  display: flex;
  justify-content: space-between;
  padding: 0 25px;
  position: relative;
  bottom: 50px;
}
.logo h2 {
  color: var(--clr-hospital);
  font-size: 1.7rem;
  cursor: pointer;
}
#logo-home {
  display: none;
}
.menuTab {
  display: none;
}
#displayMenu,
#hide_menu {
  font-size: 20px;
  background: var(--clr-white-main);
  color: var(--clr-hospital);
  padding: 9px;
  border-radius: 50%;
  width: 35px;
  height: 35px;
  box-shadow: 0 0 10px var(--clr-dark-main);
  cursor: pointer;
}
#hide_menu {
  display: none;
  animation: nav-cancel 0.5s linear;
}
.search-media {
  display: none;
}
@keyframes nav-cancel {
  0% {
    transform: rotate(0);
    transition: 0.2s;
  }
  50%,
  100% {
    transform: rotate(360deg);
    transition: 0.2s;
  }
}
.nav-links ul {
  display: flex;
  list-style-type: none;
}
.nav-links ul li {
  padding: 0 25px;
  height: 30px;
  cursor: pointer;
  color: var(--clr-white-main);
  /* font-weight: bold; */
}
.nav-links ul li:hover {
  border-bottom: 2px solid var(--clr-white-secondary);
  transition: 0.2s;
  /* transform: scale(1.0, 1.2); */
}
.nav-links ul li a {
  color: var(--clr-white-main);
}
/* For Search Input on Desktop */
.search-container-Desktop{
  display: none;
}
#small-glass-search{
  position: relative;
  bottom: 8px;
  left: -35px;
  cursor: pointer;
      display: none;

}
#search-input-Desktop{
   padding: 10px 7px;
    width: 250px;
    position: relative;
    bottom: 10px;
    border: none;
    outline: none;
    border-radius: 5px;
    font-size: 15px;
}
.icons_Drops {
  display: flex;
  position: relative;
  bottom: 20px;
  left: 40px;
}
#icon-drops,
#icon-drops-up {
  margin: 0 20px;
}
#icon-drops-up {
  display: none;
}
.drops {
  width: 200px;
  background: var(--clr-dark-main);
  color: var(--clr-white-main);
  border-radius: 4px;
  padding: 15px 10px;
  position: absolute;
  top: 45px;
  display: none;
  z-index: 100;
  animation: drops 2s linear;
}
@keyframes drops {
  0%{
    transform: translateY(0);
  }
  50%, 100%{
     transition: .4s ease;
    transform: translateY(-10px);
  }
}
.drops ul {
  display: block;
}
.drops ul li {
  padding: 25px;
}
.drops ul li a:hover {
  border-bottom: none;
  transform: none;
}
.drops ul li:hover{
   border-bottom: 0;
    border-left: 2px solid var(--clr-white-main);
    transform: translateX(15px);
}
#search-icon {
  width: 30px;
  cursor: pointer
}


/* ************************************************************
                            HOME SECTION
 **************************************************************/

 #home{
   margin: 32px 0 0 0;
   background: url(../images/bg-1.jpg) no-repeat center center/cover;
    padding: 25px 15px;
 }
 .homeContents{
    display: flex;
    justify-content: space-evenly;
 }
.homeTxt{
    margin: 150px 0;

}
 .homeTxt h1{
    font-size: 4rem;
    color: var(--clr-dark-main);
    letter-spacing: 5px;
    word-spacing: 10px;
 }
 .homeTxt span{
    color: var(--clr-hospital-deep);
 }
 .home-btns{
    margin: 15px 0;
 }
 .about-btn{
      padding: 10px 30px;
  background: var(--clr-white-main);
  border: none;
  color: var(--clr-dark-main);
  border-radius: 4px;
  cursor: pointer;
  font-size: large;
  font-weight: bold;
 }
 .about-btn:hover{
  background: var(--clr-hospital-deep);
  color: var(--clr-white-main);
  transition: .2s;
 }
 .contact-btn:hover{
  background: var(--clr-dark-main);
  color: var(--clr-white-main);
  transition: .2s;
 }
 .contact-btn{
          padding: 10px 30px;
  background: var(--clr-hospital);
  border: none;
  color: var(--clr-white-main);
  border-radius: 4px;
  cursor: pointer;
  font-size: large;
  font-weight: bold;
  margin: 0 10px;
 }
 /* .homeImg{
    display: flex;
    justify-content: flex-end;
 }  */
 #doc-home{
    position: relative;
    top: 105px;
    /* bottom: 20px; */
 }
 .searchFixtures{
    display: flex;
    justify-content: center;
    position: relative;
    bottom: 150px;
 }
 .searchbg{
    background: var(--clr-dark-main);
    display: flex;
    padding: 15px 20px;
 }
 .searchbg i{
    color: var(--clr-gray-origin);
    position: relative;
    left: 190px;
 }
 #input-location, #input-speciality{
    padding: 15px 5px;
    background: var(--clr-darkGray);
    outline: none;
    border: none;
    border-radius: 2px;
    width: 200px;
    margin: 0 10px;
    color: var(--clr-white-main);
    font-size: 15px;
 }
  #input-location:focus, #input-speciality:focus{
      box-shadow: 0 0 4px var(--clr-hospital);
  }
 .search-btn{
            padding: 10px 15px;
  background: var(--clr-hospital);
  border: none;
  color: var(--clr-white-main);
  border-radius: 4px;
  cursor: pointer;
  text-transform: uppercase;
  /* font-size: large; */
  /* font-weight: bold; */
  margin: 5px 10px;
 }
 .search-btn:hover{
  background: var(--clr-dark-blue);
  transition: .3s;
 }




/**********************************  
DEPARTMENT SEECTION 
 ***************************************/
#departments{
     margin: 30px 0 0 ;
    padding: 25px 15px;
}
.departmentHeader{
  text-align: center;
}
.department_Header{
  font-weight: bold;
  font-size: 2rem;
 letter-spacing: 2px;
}
.department_Indicator{
  margin: 10px 0;
}

.departments_specs{
  display: flex;
  justify-content: space-evenly;
  margin: 40px 0;
}
.box_Specs{
  background: var(--clr-white-default);
  width: 300px;
  border-radius: 10px;
  box-shadow: 0 0 5px var(--clr-hospital-deep);
  /* margin: 50px 50px; */
}
/* New */
.active_style{
  background: var(--clr-hospital);
  color: var(--clr-white-main);
  font-size: 50px;
}
.box_Specs button i{
  font-size: 20px;
  position: relative;
  left: -7px;
}
#Cardiology_Dept{
  background: var(--clr-hospital);
  color: var(--clr-white-main);
}
.box_Specs button{
  background: transparent;
  border: none;
  padding: 20px 0;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 17px;
  display: block;
  width: 100%;
}
.box_Specs button:hover{
  color: var(--clr-white-main);
   cursor: pointer;
   background: var(--clr-hospital);
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  transition: .2s; 
  transform: translateX(5px);
}
/***************************************************
    ALL THE CODES THAT GOES IN HERE IS TO HELP FOR DEPTS VALIDATION 
 ************************************************/
#Neurology_target{
  display: none;
}
#Diagnostics_target{
  display: none;
}
#Dental_target{
  display: none;
}
#Ophthalmology_target{
  display: none;
}
#Emergency_target{
  display: none;
}
#Oncology_target{
  display: none;
}






 /***************************************************
    CODES FOR DEPTS VALIDATION ENDS HERE - CSS ONLY
 ************************************************/
.cardiology_Container, .Neurology_Container,
 .Diagnostics_Container, .Dental_Container,
.Ophthalmology_Container, .Emergency_Container, .Oncology_Container{
  font-size: 17px;
}
#img_cardiology{
  width: 800px;
}
#img_cardiology:hover{
  cursor: pointer;
  filter: brightness(90%);
  transition: .4s;
  box-shadow: 0 0 5px var(--clr-hospital-deep);
  border-top-left-radius: 10px;
  border-bottom-right-radius: 10px;
}
.about_cardiology, .about_Neurology,
 .about_Diagnostics, .about_Dental,
 .about_Ophthalmology, .about_Emergency, .about_Oncology{
  margin: 15px 0;
}
.cardiology_services, .Neurology_services,
 .Diagnostics_services, .Dental_services,
 .Ophthalmology_services, .Emergency_services, .Oncology_services{
  margin: 16px 0;
  display: flex;
  justify-content: space-between;
}
.cardiology_services p, .Neurology_services p, 
.Diagnostics_services p, .Dental_services p,
.Ophthalmology_services p, .Emergency_services p, .Oncology_services p{
  padding: 7px 0;
}
.cardiology_services i, .Neurology_services i, 
.Diagnostics_services i, .Dental_services i,
.Ophthalmology_services i, .Emergency_services i, .Oncology_services i{
  color: var(--clr-hospital);
}
#btn_cardiology, #btn_Neurology, #btn_Diagnostics, #btn_Dental, 
#btn_Ophthalmology, #btn_Emergency, #btn_Oncology{
  position: relative;
  left: -10px;
  background: var(--clr-hospital);
}
#btn_cardiology:hover, #btn_Neurology:hover,
 #btn_Diagnostics:hover, #btn_Dental:hover, 
 #btn_Ophthalmology:hover, #btn_Emergency:hover, #btn_Oncology:hover{
  background: var(--clr-hospital-deep);
}


/**********************************  
OUR SERVICES SEECTION 
 ***************************************/

 #services{
   margin: 30px 0 0 ;
  padding: 25px 15px;
  background: var(--clr-white-default);
 }
 .services_Header{
  text-align: center;
 }

 .servicesHeading{
  font-weight: bold;
  font-size: 2rem;
 letter-spacing: 2px;
 }
 .servicesContainer{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  margin: 30px 15px;
  column-gap: 35px;
  row-gap: 20px;
 }
.heart_Surgery, .Dental_Care, .EmergencyDiv, .DNA_Div,
.BloodTesting_Div, .Support_Div, .GeneralTreatment_Div, .FreeCheckUp_Div{
  background: var(--clr-white-main);
  box-shadow: 0 0 3px var(--clr-dark-main);
  text-align: center;
  padding: 15px;
  font-size: 17px;
  border-radius: 4px;
  margin: 20px 0;
   transition: transform 0.9s ease, background-color 0.9s ease;

 }
 .heart_Surgery:hover, .Dental_Care:hover, .EmergencyDiv:hover, .DNA_Div:hover,
 .BloodTesting_Div:hover, .Support_Div:hover, .GeneralTreatment_Div:hover, .FreeCheckUp_Div:hover{
  transition: .2s;
  cursor: pointer;
  transition: .9s;
  transform: scale(1.1);
 }
.heart_Surgery div h3, .Dental_Care div h3, .EmergencyDiv div h3, .DNA_Div div h3,
.BloodTesting_Div div h3, .Support_Div div h3, .GeneralTreatment_Div div h3, .FreeCheckUp_Div div h3{
  color: var(--clr-hospital);
}
 .heart_Surgery div i, .Dental_Care div i, .EmergencyDiv div i, .DNA_Div div i,
 .BloodTesting_Div div i, .Support_Div div i, .GeneralTreatment_Div div i, .FreeCheckUp_Div div i{
  font-size: 20px;
  border: 2px solid var(--clr-hospital);
  padding: 15px;
  border-radius: 7px;
  box-shadow: 0 0 2px var(--clr-hospital);
  margin: 15px 0;
  color: var(--clr-white-main);
  background: var(--clr-hospital);
 }
 .heart_Surgery div p, .Dental_Care div p, .EmergencyDiv div p, .DNA_Div div p,
 .BloodTesting_Div div p, .Support_Div div p, .GeneralTreatment_Div div p, .FreeCheckUp_Div div p{
  margin: 10px 0;
 }

 /* ************************************************************
                            BOOK APPOINTMENT SECTION
 **************************************************************/

 #appointment{
  padding: 35px 0;
  background: url(../images/bg-blur-appointment.jpeg) no-repeat center center/cover;
 }
 .apppointment_Container{
  display: flex;
  justify-content: space-evenly;
 }

 .bookAppointment{
  background: var(--clr-white-main);
  padding: 50px;
  box-shadow:  0 0 3px var(--clr-dark-main);
  height: 450px;
  font-size: 17px;
  border-radius: 5px;
  position: relative;
  top: 100px;
 }
 .appointment_Header{
  text-align: center;
  margin: 12px 0;
 }
 .appointmentHeadre{
  font-weight: bold;
  font-size: 2rem;
 letter-spacing: 2px;
 }
 .firstDetails, .Second_Details, .third_Details{
  display: flex;
  justify-content: space-between;
 }
.firstDetails div, .Second_Details div, .third_Details div{
  margin: 15px 0;
}
#userNameApt, #userPhoneApt, #userEmailApt, #userDateApt, #Docs_Specs, #departments_specs{
  padding: 10px 10px;
  width: 250px;
  margin: 0 10px;
  background: transparent;
  border: 1px solid var(--clr-dark-main);
  outline: none;
  border-radius: 4px;
  font-size: 17px;
}
#userNameApt:focus, #userPhoneApt:focus, #userEmailApt:focus, #userDateApt:focus, #Docs_Specs:focus,
#departments_specs:focus{
  box-shadow: 0 0 2px var(--clr-hospital);
  border: 1px solid var(--clr-hospital);
  transition: .2s;
  cursor: pointer;
}
#userNameApt::placeholder, #userPhoneApt::placeholder, #userEmailApt::placeholder, #userDateApt::placeholder,
 #Docs_Specs::placeholder, #departments_specs::placeholder{
  font-size: 14px;
}

.appointmentButton{
  margin: 20px 0;
}
#submit_Btn_Appointment{
  width: 100%;
  background: var(--clr-hospital);
  border: none;
  color: var(--clr-white-main);
  padding: 12px 0;
  border-radius: 4px;
  font-size: 17px;
  cursor: pointer;
}
#submit_Btn_Appointment:hover{
  background: var(--clr-hospital-deep);
  transition: .3s;
}

#Book_appointment_Image{
  position: relative;
  bottom: 100px;
}


/* ************************************************************
                            SPECIALISTS SECTION SECTION
 **************************************************************/
#specialists{
  margin: 50px 0 0;
}
.main_Specialists{
  margin: 25px 10px;
}

.specialists_Desc{
  text-align: center;
}
.specialists_Desc h2{
  font-weight: bold;
  font-size: 2rem;
 letter-spacing: 2px;
}
.row, .row_2, .row_3{
  box-shadow: 0 0 3px var(--clr-dark-main);
  border-radius: 3px;
}

.first_Row{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin: 40px 35px;
  column-gap: 35px;
}
.animate{
  animation: showCarousel 0.5s ease-in-out;
}
@keyframes showCarousel {
  0% {
    opacity: 0;
    filter: brightness(0%);
    transform: scale(0);
  }
  50% {
    opacity: 1;
    filter: brightness(90%);
    transform: scale(1.1);
  }
  100% {
    opacity: 1;
    filter: brightness(90%);
    transform: scale(1);
  }
}

.animate_Row2 {
  animation: Carousel2 0.5s ease-in-out;
}

@keyframes Carousel2 {
  0% {
    opacity: 0;
    filter: brightness(0%);
    transform: scale(0);
  }
  50% {
    opacity: 1;
    filter: brightness(90%);
    transform: scale(1.1);
  }
  100% {
    opacity: 1;
    filter: brightness(90%);
    transform: scale(1);
  }
}

/* @keyframes carousel {
  0%{
    transform: translateY(0);
    transition: 0;
  }
  50%, 100%{
    transform: translateY(-10px);
    transition: 0
  }
} */
.Second_Row{
   display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin: 40px 35px;
  column-gap: 35px;
  content-visibility: hidden;
}
.row, .row_2, .row_3{
  transition: transform 0.9s ease, background-color 0.9s ease;
}
.row:hover, .row_2:hover, .row_3:hover{
     transform: scale(1.1);
  transition: .9s;
}
.row_contents, .row2_contents, .row3_contents{
  text-align: center;
  padding: 35px 0;
  z-index: 100;

}
.row_contents:hover, .row2_contents:hover, .row3_contents:hover{
  transition: .3s;
  cursor: pointer;
  background: var(--clr-hospital);
  color: var(--clr-white-main);
  border-top-left-radius: 15px;
   border-top-right-radius: 15px;
}
.row_Img_container, .row2_Img_container, .row3_Img_container{
  text-align: center;
}
#specialist_Image{
  width: 300px;
  position: relative;
  top: 4px;
  transition: transform 0.9s ease, background-color 0.9s ease;

}
#specialist_Image:hover{
    cursor: pointer;
  filter: brightness(90%);
  transition: .9s;
  transform: scale(1.1);
  border-top-left-radius: 10px;
  border-bottom-right-radius: 10px;

}
.name_specialist{
  margin: 10px 0;
}
.name_specialist span{
  position: relative;
  bottom: 5px;
}
.specialists_HoursDays, .specialists_HoursDays_2, .specialists_HoursDays_3{
  margin: 1px 0;
  display: none;
  position: absolute;

}
.specialists_HoursDays .days, .specialists_HoursDays_2 .days, .specialists_HoursDays_3 .days{
  position: relative;
  left: -15px;
}
.specialists_HoursDays i, .specialists_HoursDays_2 i, .specialists_HoursDays_3 i{
   position: relative;
  left: -20px;
}
.row_contents:hover>.specialists_HoursDays, .row2_contents:hover>.specialists_HoursDays_2,
.row3_contents:hover>.specialists_HoursDays_3{
  display: flex;
  justify-content: space-evenly;
    margin-left: 110px;
    margin-top: 10px;
}
/* .controller_Div{
  text-align: center;
} */
 .buttons_Controller{
  display: flex;
  justify-content: center;
 }
 .buttons_Controller i{
  font-size: 20px;
  background: var(--clr-hospital);
  color: var(--clr-white-main);
  padding: 10px;
  border-radius: 4px;
 }
 .buttons_Controller i:hover{
  background: var(--clr-hospital-deep);
  cursor: pointer;
  transition: .2s;
 }
 #left_toggle:hover{
  transform: translateX(-10px);
 }
 #right_toggle:hover{
    transform: translateX(10px);
 }
 .buttons_Controller button{
  margin: 0 25px;
  padding: 10px 25px;
  background: var(--clr-hospital);
  border: 1px solid  var(--clr-hospital);
  color: var(--clr-white-main);
  cursor: pointer;
  border-radius: 5px;
 }
 .buttons_Controller button:hover{
  background: var(--clr-hospital-deep);
  transform: .3s;
  border: 1px solid var(--clr-hospital-deep);
 }
 .toogle_Body{
    opacity: 1;
    filter: brightness(80%);
 }
 .animate_Background{
  filter: blur(2px);
  transition: .5s;
 }
 .modal{
  background: var(--clr-white-main);
  box-shadow: 0 0 10px var(--clr-dark-main);
  display: grid;
  /* place-content: center; */
  position: absolute;
  left: 30%;
  right: 30%;
  top: 50%;
  border-radius: 15px;
   animation: showCarousel 0.5s ease-in-out;
   display: none;
 }
 .inner_contents{
  text-align: center;
  padding: 15px;
 }
 #check_success{
  font-size: 50px;
  color: var(--clr-hospital);
 }
 .response{
  margin: 15px 0;
 }
 #btn_success{
  margin: 15px 0;
  padding: 15px 0;
  width: 100%;
  border-radius: 10px;
  border: none;
  background: var(--clr-hospital-deep);
  color: var(--clr-white-main);
  font-size: 17px;
  cursor: pointer;
 }
.modal_remove{
  display: flex;
  justify-content: flex-end;
    padding: 10px;

  /* background: var(--error-message); */
}
#remove_modal{
  font-size: 30px;
  color: var(--error-message);
   cursor: pointer;
}

 /* ************************************************
       BLOGS SECTION
   **************************************************/
  #Blogs{
    margin: 50px 0 0 0;
    padding-bottom: 20px ;
    background: var(--clr-white-default);
    position: relative;
    top: 10px;
  }
   .blogs_Header{
    text-align: center;
    padding: 20px 0;
   }
   .BlogsHeading{
     font-weight: bold;
    font-size: 2rem;
    letter-spacing: 2px;
   }
   .blogs_contents{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 25px;
    margin: 10px 25px;
   }
   .blog_Initial, .blog_2{
    display: flex;
    border-radius: 2px;
    margin: 40px 0;
   }
   .blog_Texts, .blog_2_Texts{
    padding: 20px;
    background: var(--clr-white-main);
    min-height: 375px;
   }
   .blog_Texts h3, .blog_Texts span, .blog_Texts p,
   .blog_2_Texts h3, .blog_2_Texts span, .blog_2_Texts p{
    margin: 10px 0;
   }
   .comment{
    position: relative;
    left: 15px;
   }
   .blog_Texts button, .blog_2_Texts button{
    margin: 15px 0;
    background: transparent;
    border: none;
   }
   #more_Blogs:hover{
    color: var(--clr-hospital);
    transition: .2s;
    transform: translateX(10px);
    cursor: pointer;
   }

   
  /* ************************************************************
                            CONTACT/FOOTER SECTION
 **************************************************************/
 #contact{
  background: var(--clr-semi-dark);
  padding: 40px;
  color: var(--clr-white-main);
 }
 .contact_Footer{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
 column-gap: 10px;
 }
 .IG_Photos img{
  width: 200px;
  box-shadow: 0 0 3px var(--clr-dark-main);
  border-radius: 2px;
 }
 .IG_Photos{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 25px;

 }
 .about_Footer h3, .Navigation_Footer h3, .instagram_Footer h3{
  margin: 25px 0;
 }
.contacts_social_footer{
  margin: 20px 0;
}
.contacts_social_footer div{
  display: flex;
  padding: 12px 0;
}
.contacts_social_footer div p{
  padding-left: 15px;
}
.contacts_social_footer div p a{
  color: var(--clr-white-main);
  text-decoration: none;
}
.Navigation_Footer p{
  padding: 8px 0;
}
.Navigation_Footer {
  margin-left: 30px;
}
.Navigation_Footer p a{
   color: var(--clr-white-main);
  text-decoration: none;
}
#socials_Footer{
  display: none;
}
.language_Div{
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
}
/* styling for google translate page */
.goog-te-combo {
  /* width: 100px; */
    height: 45px;
    border-radius: 7px;
    outline: none;
    border: 1px solid var(--clr-dark-main);
}

.goog-te-combo:hover {
    border: 1px solid var(--clr-hospital);
    cursor: pointer;
    transition: .7s;
}
.copyRight{
  margin: 15px 0 0 0;
}



/* Media Querry - Mobile Screens */

@media (min-width: 0) and (max-width: 750px) {
  .socialIconsHeader {
    display: none;
  }
  .main_nav {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;
  }
  .logo h2 {
    display: none;
  }
  #headre-background {
    box-shadow: 0 0 5px var(--clr-dark-main);
  }
  #logo-home {
    display: block;
    width: 80px;
    position: relative;
    bottom: 20px;
    left: -25px;
  }
  .nav-links {
    display: none;
    position: absolute;
    left: 0;
    right: 0;
    top: 45px;
    background: var(--clr-dark-blue);
    width: 70%;
    height: 500px;
    /* text-align: center; */
    animation: showCarousel 0.5s ease-in-out;
    height: calc(100vh - 3rem);
    /* overflow-y: auto; */
    padding-bottom: 20px;
    z-index: 100;
  }

  /* @keyframes Carousel2 {
    0% {
      width: 0;
      transition: all 0.3s;
    }
    50%,
    100% {
      width: 70%;
      transition: all 0.3s;
    }
  } */
  .nav-links ul {
    display: block;
    margin-bottom: 20px;
  }
  .nav-links ul li {
    padding: 35px;
  }
  .nav-links ul li:hover {
    border-bottom: 0;
    border-left: 2px solid var(--clr-white-main);
    transform: translateX(15px);
    background: transparent;
  }
  .nav-links ul li a{
    font-size: 18px;
  }
  /* Apt Button on Mobile */
  .apt_mobile{
    display: block;
  }
  /* Search feature(Input) on Media */
  .search-container-media{
    display: none;
  }
  #search-input-media{
    padding: 15px 7px;
    width: 220px;
    position: relative;
    bottom: 35px;
    left: -25px;
    border: none;
    outline: none;
    border-radius: 5px;
    font-size: 17px;
  }
  #search-input-media::-webkit-search-cancel-button{
    cursor: pointer;
  }
  #glass-media{
    position: relative;
    display: none;
    left: -80px;
    z-index: 100;
    /* right: 30px; */
    bottom: 35px;
    cursor: pointer;
    /* width: 20px; */
    /* background: var(--error-message); */
  }
  /* Arrow */
  #arrow-back-home{
    display: block;
    z-index: 100;
    position: relative;
    left: -60px;
    font-size: 20px;
    width: 30px;
    color: var(--clr-white-main);
  }
  #arrow-back-home:hover{
    transition: .2s;
    transform: translateX(-5px);
  }
  .drops {
    position: relative;
    top: 0px;
    /* background: transparent; */
    width: 200px;
    left: 1px;
    z-index: 100;
  }
  .drops ul li {
    padding: 25px;
  }
  .search {
    display: none;
  }

  .menuTab {
    display: block;
  }
  .search-media {
    display: block;
    position: relative;
    left: 50px;
  }
  /* ************************************************
        Home
   **************************************************/
   .homeContents{
    display: block;
 }
 .homeImg{
    text-align: center;
 }
 .homeTxt{
  margin: 100px 0;
 }
 #doc-home{
   width: 300px;
   top: -40px;
   /* margin-bottom: 50px; */
 }
 .searchbg{
    margin: 0 4px;
    /* padding: 15px 5px; */
   background: var(--clr-dark-main);
   border-radius: 7px;
   display: block;
 }
  #input-location, #input-speciality{
    padding: 15px 10px;
    margin: 5px 0;
    width: 250px;
    font-size: 16px;
    background: var(--clr-white-secondary);
    color: var(--clr-dark-main);
 }
 .search-icon-home{
  text-align: center;
 }
 .search-btn{
    padding: 10px 8px;
    width: 50%;
    font-size: 16px;
    /* position: relative;
    top: 20px; */
 }
 .search-btn:hover{
  background: var(--clr-hospital-deep);
  transition: .4s;
 }
 .searchbg i{
    position: relative;
    left: 230px;
 }
 /**********************************  
DEPARTMENT SEECTION 
 ***************************************/
 .departments_specs{
  display: block;
}
.box_Specs{
  width: 100%;
  text-align: center;
  margin: 15px 0;
}
#img_cardiology{
  width: 100%;
}
.cardiology_services, .Neurology_services,
 .Diagnostics_services, .Dental_services,
 .Ophthalmology_services, .Emergency_services, .Oncology_services{
  margin: 16px 0;
  display: block;
}
/**********************************  
OUR SERVICES SEECTION 
 ***************************************/
 .servicesContainer{
  display: block;
 }

  /* ************************************************************
                            BOOK APPOINTMENT SECTION
 **************************************************************/
  .apppointment_Container{
    display: block;
 }
 .firstDetails, .Second_Details, .third_Details{
  display: block;
  text-align: center;
 }
 .bookAppointment{
  height: auto;
  margin: 0 20px;
  padding: 20px;
  top: 0;
 }
 .appointment_img{
    text-align: center;
    margin: 20px 0;
 }
 #Book_appointment_Image{
  width: 300px;
  bottom: 0;
}
/* ************************************************************
                            SPECIALISTS SECTION SECTION
 **************************************************************/

.first_Row, .Second_Row{
  display: block;
}
.row, .row_2, .row_3{
  margin: 30px 0;
}
#specialist_Image{
  width: 200px;
}
.row_contents:hover>.specialists_HoursDays, .row2_contents:hover>.specialists_HoursDays_2,
.row3_contents:hover>.specialists_HoursDays_3{
    margin-left: 40px;
    margin-top: 10px;
}
/* Modal */
.modal{
  left: 10%;
  right: 10%;
}
 /* ************************************************
       BLOGS SECTION
   **************************************************/
.blogs_contents{
  display: block;
}
.blog_Initial, .blog_2{
  display: block;
}
.blog_photo, .blog_2Photo{
  text-align: center;
  margin: 25px 0;
}
.blog_Texts, .blog_2_Texts{
  position: relative;
  bottom: 27px;
  box-shadow: 0 0 3px var(--clr-dark-main);
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  height: auto;
}
#blog_photo_Img{
  width: 100%;
}
 /* ************************************************************
                            CONTACT/FOOTER SECTION
 **************************************************************/
.contact_Footer{
  display: block;
}
.Navigation_Footer{
  margin-left: 0;
}
.IG_Photos{
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
}
.IG_Photos img{
  width: 150px;
}

#socials_Footer{
  display: block;
  text-align: center;
  margin: 25px 0;
}
.copyRight{
  text-align: center;
}
}

/* Ipads */

@media (min-width: 760px) and (max-width: 950px) {
  /* #headre-background {
            box-shadow: 0 0 10px var(--clr-dark-main);
        } */
          .main_nav {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;
  }
  .logo h2 {
    display: none;
  }

  #logo-home {
    display: block;
    width: 100px;
    position: relative;
    bottom: 35px;
    /* left: -15px; */
  }

  .nav-links {
    display: none;
    position: absolute;
    left: 0;
    right: 0;
    top: 40px;
    background: var(--clr-dark-blue);
    width: 100%;
    height: 800px;
    animation: nav-rotate 2s linear;
    height: calc(100vh - 3rem);
  }

  @keyframes nav-rotate {
    0% {
      height: 0;
      transition: all 0.3s;
    }

    50%,
    100% {
         height: calc(100vh - 3rem);
      transition: all 0.3s;
    }
  }

  .nav-links ul {
    display: block;
    margin-bottom: 20px;
  }

  .nav-links ul li {
    padding: 55px;
  }

  /* Apt Button on Mobile */
  .apt_mobile{
    display: block;
  }
 /* Search feature(Input) on Media */
  .search-container-media{
    display: none;
  }
  #search-input-media{
    padding: 15px 7px;
    width: 420px;
    position: relative;
    bottom: 35px;
    left: -25px;
    border: none;
    outline: none;
    border-radius: 5px;
    font-size: 17px;
  }
  #search-input-media::-webkit-search-cancel-button{
    cursor: pointer;
   color: var(--clr-hospital-deep);
  }
  #glass-media{
    position: relative;
    display: none;
    left: -80px;
    z-index: 100;
    /* right: 30px; */
    bottom: 35px;
    cursor: pointer;
    /* width: 20px; */
    /* background: var(--error-message); */
  }
  /* Arrow */
  #arrow-back-home{
    display: block;
    z-index: 100;
    position: relative;
    left: -60px;
    font-size: 20px;
    width: 30px;
    color: var(--clr-white-main);
  }
  #arrow-back-home:hover{
    transition: .2s;
    transform: translateX(-5px);
  }
  .search {
    display: none;
  }

  .menuTab {
    display: block;
  }
  .drops {
    position: relative;
    top: 20px;
    /* background: transparent; */
    width: 200px;
    left: 1px;
    z-index: 100;
  }

  .drops ul li {
    padding: 25px;
  }

  .search-media {
    display: block;
    position: relative;
    left: 50px;
  }
   /* ************************************************
        Home
   **************************************************/
   #home{
   margin: 40px 0 0 0;
   background: url(../images/bg-1.jpg) no-repeat center center/cover;
    padding: 25px 15px;
 }
   .searchbg{
    margin: 50px 0;
   }
   /**********************************  
DEPARTMENT SEECTION 
 ***************************************/
 .departments_specs{
  display: block;
}
.box_Specs{
  width: 100%;
  text-align: center;
  margin: 15px 0;
}
#img_cardiology{
  width: 100%;
}
/**********************************  
OUR SERVICES SEECTION 
 ***************************************/
 .servicesContainer{
 grid-template-columns: repeat(2, 1fr);
 }

 
  /* ************************************************************
                            BOOK APPOINTMENT SECTION
 **************************************************************/
  .apppointment_Container{
    display: block;
 }
 .firstDetails, .Second_Details, .third_Details{
  display: block;
  text-align: center;
 }
 .bookAppointment{
  height: auto;
  margin: 0 20px;
  padding: 20px;
  top: 0;
 }
 .appointment_img{
    text-align: center;
    margin: 20px 0;
 }
 #Book_appointment_Image{
  width: 400px;
  bottom: 0;
}
/* ************************************************************
                            SPECIALISTS SECTION SECTION
 **************************************************************/

.first_Row{
  display: block;
}
.row, .row_2, .row_3{
  margin: 15px 0;
}
.row_contents:hover>.specialists_HoursDays, .row2_contents:hover>.specialists_HoursDays_2,
.row3_contents:hover>.specialists_HoursDays_3{
    margin-left: 250px;
    margin-top: 10px;
}
 /* ************************************************
       BLOGS SECTION
   **************************************************/
.blogs_contents{
  display: block;
}
.blog_Initial, .blog_2{
  display: block;
}
.blog_Texts, .blog_2_Texts{
    height: auto;
}
.blog_photo, .blog_2Photo{
  /* text-align: center; */
  margin: 15px 0;
}
#blog_photo_Img{
  width: 100%;
}
/* ************************************************************
                            CONTACT/FOOTER SECTION
 **************************************************************/
.contact_Footer{
  display: block;
}
.Navigation_Footer{
  margin-left: 0;
}
.IG_Photos{
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
}
.IG_Photos img{
  width: 200px;
}

#socials_Footer{
  display: block;
  text-align: center;
  margin: 25px 0;
}
.copyRight{
  text-align: center;
}


}


/* Semi_Big Screens */
@media screen and (max-width: 820px) and (min-width: 768px) {
  .servicesContainer{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin: 30px 15px;
  column-gap: 35px;
  row-gap: 20px;
 }
 .apppointment_Container{
   margin: 10px 10px;
   display: flex;
   justify-content: space-around;
 }
 .appointment_img{
  /* width: 100px; */
  /* background: var(--clr-hospital-deep); */
  position: relative;
  left: -80px;
 }
 #Book_appointment_Image{
  position: relative;
  bottom: 100px;
  left: 40px;
}

 .first_Row{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin: 40px 35px;
  column-gap: 35px;
}
.Second_Row{
   display: grid;
  grid-template-columns: repeat(2, 1fr);
}
 /* ************************************************
       BLOGS SECTION
   **************************************************/
.blogs_contents{
  display: block;
}

.blog_Texts, .blog_2_Texts{
    height: auto;
}
 .comment{
    position: relative;
    left: 15px;
   }
/* ************************************************************
                            CONTACT/FOOTER SECTION
 **************************************************************/
.contact_Footer{
  grid-template-columns: repeat(2, 1fr);
}
.Navigation_Footer{
  margin-left: 0;
}
.IG_Photos{
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
}
.IG_Photos img{
  width: 200px;
}

#socials_Footer{
  display: block;
  text-align: center;
  margin: 25px 0;
}
.copyRight{
  text-align: center;
}
}

@media screen and (min-width: 950px) and (max-width: 1024px) {
  .departments_specs{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 20px;
  margin: 5px 20px;
}
.box_Specs{
  width: 100%;
  text-align: center;
  margin: 2px 0;
}
#img_cardiology{
  width: 100%;
}
.apppointment_Container{
  display: flex;
  justify-content: space-evenly;
  margin: 10px 30px;
  position: relative;
  bottom: 50px;
}
.appointment_img{
  /* background: var(--clr-dark-main); */
  width: 280px;
  position: relative;
  top: 50px;
}
 #Book_appointment_Image{
  position: relative;
  /* bottom: 100px; */
  left: -50px;
  max-width: 310px;
}
   .servicesContainer{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin: 30px 15px;
  column-gap: 35px;
  row-gap: 10px;
 }

 .first_Row, .Second_Row{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin: 40px 15px;
  column-gap: 15px;
}
  /* ************************************************
       BLOGS SECTION
   **************************************************/
.blogs_contents{
  display: block;
}

.blog_Texts, .blog_2_Texts{
    height: auto;
}
 .comment{
    position: relative;
    left: 15px;
   }

   /* ************************************************************
                            CONTACT/FOOTER SECTION
 **************************************************************/
.contact_Footer{
  grid-template-columns: repeat(2, 1fr);
}
.Navigation_Footer{
  margin-left: 0;
}
.IG_Photos{
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
}
.IG_Photos img{
  width: 200px;
}
  
}

/* Css Loader */
.loader {
  width: 24px;
  height: 80px;
  display: block;
  margin: 35px auto 0;
  border: 1px solid #FFF;
  border-radius: 0 0 50px 50px;
  position: relative;
  box-shadow: 0px 0px #0bb0b2 inset;
  background-image: linear-gradient(#0bb0b2 100px, transparent 0);
  background-position: 0px 0px;
  background-size: 22px 80px;
  background-repeat: no-repeat;
  box-sizing: border-box;
  animation: animloader 6s linear infinite;
}
.loader::after {
  content: '';  
  box-sizing: border-box;
  top: -6px;
  left: 50%;
  transform: translateX(-50%);
  position: absolute;
  border: 1px solid #FFF;
  border-radius: 50%;
  width: 28px;
  height: 6px;
}
.loader::before {
  content: '';  
  box-sizing: border-box;
  left: 0;
  bottom: -4px;
  border-radius: 50%;
  position: absolute;
  width: 6px;
  height: 6px;
  animation: animloader1 6s linear infinite;
}

@keyframes animloader {
  0% {
    background-position: 0px 80px;
  }
  100% {
    background-position: 0px 0px;
  }
}

@keyframes animloader1 {
  0% {
    box-shadow: 4px -10px rgba(255, 255, 255, 0), 6px 0px rgba(255, 255, 255, 0), 8px -15px rgba(255, 255, 255, 0), 12px 0px rgba(255, 255, 255, 0);
  }
  20% {
    box-shadow: 4px -20px rgba(255, 255, 255, 0), 8px -10px rgba(255, 255, 255, 0), 10px -30px rgba(255, 255, 255, 0.5), 15px -5px rgba(255, 255, 255, 0);
  }
  40% {
    box-shadow: 2px -40px rgba(255, 255, 255, 0.5), 8px -30px rgba(255, 255, 255, 0.4), 8px -60px rgba(255, 255, 255, 0.5), 12px -15px rgba(255, 255, 255, 0.5);
  }
  60% {
    box-shadow: 4px -60px rgba(255, 255, 255, 0.5), 6px -50px rgba(255, 255, 255, 0.4), 10px -90px rgba(255, 255, 255, 0.5), 15px -25px rgba(255, 255, 255, 0.5);
  }
  80% {
    box-shadow: 2px -80px rgba(255, 255, 255, 0.5), 4px -70px rgba(255, 255, 255, 0.4), 8px -120px rgba(255, 255, 255, 0), 12px -35px rgba(255, 255, 255, 0.5);
  }
  100% {
    box-shadow: 4px -100px rgba(255, 255, 255, 0), 8px -90px rgba(255, 255, 255, 0), 10px -120px rgba(255, 255, 255, 0), 15px -45px rgba(255, 255, 255, 0);
  }
}

header{
  display: grid;
  place-content: center;
  align-content: center;
  min-height: 100vh;
  background: var(--clr-white-default);
}

